/* Login Scss */
.justify-content-center {
    justify-content: center !important;
}

.justify-content-left {
    justify-content: left !important;
}

.justify-content-right {
    justify-content: right !important;
}