{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#block01enabled}}
<div class="block11 container mt-5 mb-5">
    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img class="img-fluid"
                    src="https://images.unsplash.com/photo-1575833947349-69324d765146?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                    alt="">
                <div class="events-date">
                    <div class="text-white ">November 4, 2021</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5
                    class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 text-dark font-weight-bold">
                    <a href="event-details.html" class="text-theme-color">Brown Bag Talk with Professor Dee
                        Alvarado</a></h5>
                <div class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="fa fa-clock-o margin-10px-right"></i> 12:00 PM - 1:30 PM</li>
                    <li class="text-dark font-weight-500"><a data-toggle="tooltip" data-placement="top" title=""
                            href="#" data-original-title="Dee Alvarado"><img alt="Generic placeholder image"
                                src="https://moodle.themesalmondb.com/pluginfile.php/326/user/icon/almondb/f3?rev=17065"
                                class="event-user rounded-pill"></a> Dee Alvarado</li>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore</p>
                <a href="#" class="text-dark font-weight-bold">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5
                    class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 text-dark font-weight-bold">
                    <a href="event-details.html" class="text-theme-color">Iranian Film Screening</a></h5>
                <div class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="fa fa-clock-o margin-10px-right"></i> 04:00 PM - 06:00 PM</li>
                    <li class="text-dark font-weight-500"><a data-toggle="tooltip" data-placement="top" title=""
                            href="#" data-original-title="Juana Kato"><img alt="Generic placeholder image"
                                src="https://moodle.themesalmondb.com/pluginfile.php/329/user/icon/almondb/f3?rev=17083"
                                class="event-user rounded-pill"></a> Juana Kato</li>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore</p>
                <a href="#" class="text-dark font-weight-bold">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative">
                <img class="img-fluid"
                    src="https://images.unsplash.com/photo-1559068064-d1b5698fb31b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1644&q=80"
                    alt="">
                <div class="events-date">
                    <div class="text-white ">November 4, 2021</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img class="img-fluid"
                    src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80"
                    alt="">
                <div class="events-date">
                    <div class="text-white ">November 5, 2021</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5
                    class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 text-dark font-weight-bold">
                    <a href="event-details.html" class="text-theme-color">Mentorship Program</a></h5>
                <div class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="fa fa-clock-o margin-10px-right"></i> 09:20 AM - 12:00 AM</li>
                    <li class="text-dark font-weight-500"><a data-toggle="tooltip" data-placement="top" title=""
                            href="#" data-original-title="Marcia Hatfield"><img alt="Generic placeholder image"
                                src="https://moodle.themesalmondb.com/pluginfile.php/331/user/icon/almondb/f3?rev=17101"
                                class="event-user rounded-pill"></a> Marcia Hatfield</li>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore</p>
                <a href="#" class="text-dark font-weight-bold">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5
                    class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 text-dark font-weight-bold">
                    <a href="event-details.html" class="text-theme-color">Opening Reception</a></h5>
                <div class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="fa fa-clock-o margin-10px-right"></i> 10:00 AM - 09:00 PM</li>
                    <li class="text-dark font-weight-500"><a data-toggle="tooltip" data-placement="top" title=""
                            href="#" data-original-title="Bernard Langley"><img alt="Generic placeholder image"
                                src="https://moodle.themesalmondb.com/pluginfile.php/315/user/icon/almondb/f3?rev=17056"
                                class="event-user rounded-pill"></a> Bernard Langley</li>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore</p>
                <a href="#" class="text-dark font-weight-bold">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative">
                <img class="img-fluid"
                    src="https://images.unsplash.com/photo-1613567178573-e1ba31966de9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                    alt="">
                <div class="events-date">
                    <div class="text-white">November 8, 2021</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img class="img-fluid"
                    src="https://images.unsplash.com/photo-1513907450027-b9926e160c2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                    alt="">
                <div class="events-date">
                    <div class="text-white ">November 12, 2021</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5
                    class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 text-dark font-weight-bold">
                    <a href="event-details.html" class="text-theme-color">Arrows of Desire</a></h5>
                <div class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="fa fa-clock-o margin-10px-right"></i> 11:00 AM - 05:00 PM</li>
                    <li class="text-dark font-weight-500"><a data-toggle="tooltip" data-placement="top" title=""
                            href="#" data-original-title="Brian Hughes"><img alt="Generic placeholder image"
                                src="https://moodle.themesalmondb.com/pluginfile.php/322/user/icon/almondb/f3?rev=17092"
                                class="event-user rounded-pill"></a> Brian Hughes</li>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore</p>
                <a href="#" class="text-dark font-weight-bold">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
    <!-- end event block -->

</div>
<style>
.events-date {
    position: absolute;
    background: #c4001a;
    color: #ffffff;
    padding: 8px 15px;
    left: 0px;
    top: 10px;
    border-radius: 4px;
    font-size: large;
}
.event-time li {
    display: inline-block;
    margin-right: 20px
}
.event-time li:last-child {
    margin-right: 0
}
.event-time li i {
    color: #c4001a
}
.event-block {
    box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48)
}
.event-block ul li i {
    color: #c4001a
}
@media screen and (max-width: 1199px) {
    .event-date {
        padding: 10px 18px 6px 18px
    }
}
@media screen and (max-width: 575px) {
    .event-date {
        padding: 8px 15px 4px 15px
    }
    .events-date {
        padding: 10px 15px 6px 15px
    }
}
.position-relative {
    position: relative !important;
}
.margin-40px-bottom {
    margin-bottom: 40px;
}
.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}
.margin-15px-bottom {
    margin-bottom: 15px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size22 {
    font-size: 22px;
}
.text-theme-color {
    color: #333;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.margin-10px-right {
    margin-right: 10px;
}
.event-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    width: 34px;
}
.rounded-pill {
    border-radius: 50rem!important;
}
</style>
{{/block01enabled}}
