{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#say10}}
    {{#blockno01}}
        {{> theme_almondb/frontpage/block01 }}
    {{/blockno01}}  
    {{#blockno02}}
        {{> theme_almondb/frontpage/block02 }}
    {{/blockno02}} 
    {{#blockno03}}
        {{> theme_almondb/frontpage/block03 }}
    {{/blockno03}}  
    {{#blockno04}}
        {{> theme_almondb/frontpage/block04 }}
    {{/blockno04}} 
    {{#blockno05}}
        {{> theme_almondb/frontpage/block05 }}
    {{/blockno05}}  
    {{#blockno06}}
        {{> theme_almondb/frontpage/block06 }}
    {{/blockno06}} 
    {{#blockno07}}
        {{> theme_almondb/frontpage/block07 }}
    {{/blockno07}}  
    {{#blockno08}}
        {{> theme_almondb/frontpage/block08 }}
    {{/blockno08}} 
    {{#blockno09}}
        {{> theme_almondb/frontpage/block09 }}
    {{/blockno09}}  
    {{#blockno10}}
        {{> theme_almondb/frontpage/block10 }}
    {{/blockno10}} 
    {{#blockno11}}
        {{> theme_almondb/frontpage/block11 }}
    {{/blockno11}}  
    {{#blockno12}}
        
    {{/blockno12}} 
    {{#blockno13}}
        
    {{/blockno13}}  
    {{#blockno14}}
        
    {{/blockno14}} 
    {{#blockno15}}
        
    {{/blockno15}}  
    {{#blockno16}}
        
    {{/blockno16}} 
    {{#blockno17}}
        
    {{/blockno17}}  
    {{#blockno18}}
        {{> theme_almondb/frontpage/block18 }}
    {{/blockno18}} 
    {{#blockno19}}
        {{> theme_almondb/frontpage/block19 }}
    {{/blockno19}}  
    {{#blockno20}}
        {{> theme_almondb/frontpage/block20 }}
    {{/blockno20}}
{{/say10}}  


